/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffffff; /* Белый фон для минимализма */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 160px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;


}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffe100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 100px 15px;
}

h1 {
    text-align: center;
    color: #0c0c0c;
}

.contact-info, .universities-contact, .contact-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-info h2, .universities-contact h2, .contact-form h2 {
    color: #ffe100;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p, .universities-contact p {
    font-size: 16px;
    margin: 8px 0;
}

.university {
    margin-bottom: 20px;
}

.university h3 {
    font-size: 20px;
    color: #ffe100;
    margin-bottom: 5px;
}

.university p {
    font-size: 16px;
    color: #0c0c0c;
}

.university a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
}

.university a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #0c0c0c;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #ffe100;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0c0c0c;
}

footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
    .contact-info, .universities-contact, .contact-form {
        padding: 15px;
    }

    .university h3 {
        font-size: 18px;
    }

    label, input, textarea, button {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 12px 0;
    }
}