<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - ВУЗ</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <span>Университет мечты</span>
        </div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/faculties">Факультеты</a></li>
            <li><a href="/admission">Абитуриентам</a></li>
            <li><a href="/contact">Контакты</a></li>
            <!-- Для неавторизованных пользователей -->
            <li><a href="/login" id="login-link">Войти</a></li>
            <li><a href="/register" id="register-link">Регистрация</a>
        </ul>
    </nav>
</header>

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Найдите университет своей<br> мечты сегодня</h1>
            <form class="search-form" action="/search" method="get">
                <select name="level">
                    <option>Уровень обучения</option>
                    <option>Бакалавриат</option>
                    <option>Магистратура</option>
                    <option>Докторантура</option>
                </select>
                <select name="location">
                    <option>Место учебы</option>
                    <option>Бишкек</option>
                    <option>Ош</option>
                    <option>Джалал-Абад</option>
                    <option>Баткен</option>
                    <option>Иссык-Куль</option>
                    <option>Нарын</option>
                    <option>Талас</option>
                    <option>Чуй</option>

                </select>
                <select name="subject">
                    <option>Предмет</option>
                    <option>Информатика</option>
                    <option>Экономика</option>
                    <option>Медицина</option>
                </select>
                <button type="submit">Поиск</button>
            </form>
        </div>
    </section>

    <!-- Карточки университетов -->
    <section class="universities">
        <h2>Популярные университеты</h2>
        <div class="cards-container">
            <div class="card">
                <img src="/images/images.jpg" alt="Университет">
                <h3>
                    Кыргызско-Германский институт прикладной информатики</h3>
            </div>
            <div class="card">
                <img src="/images/university1.jpg" alt="Университет 1">
                <h3>
                    Американский университет Центральной Азии</h3>
            </div>
            <div class="card">
                <img src="/images/university2.jpg" alt="Университет 2">
                <h3>Кыргызский Государственный Технический Университет</h3>
            </div>
            <div class="card">
                <img src="/images/university3.jpg" alt="Университет 3">
                <h3>Кыргызско-Турецкий Университет "Манас"</h3>
            </div>
        </div>
    </section>
    <!-- Описание после популярных университетов -->
    <section class="about-universities">
        <h2>Почему стоит выбрать наш сайт?</h2>
        <p>
            Наш сайт предоставляет широкий выбор университетов и программ обучения, чтобы помочь вам найти учебное заведение, которое лучше всего подходит для реализации ваших мечтаний. Мы сотрудничаем с ведущими вузами страны, чтобы предоставить вам актуальную информацию и полезные советы для поступления.
        </p>
        <p>
            Независимо от того, ищете ли вы бакалавриат, магистратуру или докторантуру, у нас есть всё необходимое, чтобы облегчить ваш выбор. Воспользуйтесь нашим удобным поиском, чтобы начать своё образовательное путешествие уже сегодня!
        </p>
    </section>

</main>

<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="/about">О нас</a> |
            <a href="mailto:info@university.com">info@university.com</a> |
            <span>Телефон: +996 (312) 123-456</span>
        </div>
        <p>&copy; 2024 ВУЗ. Все права защищены.</p>
    </div>
</footer>
</body>
</html>


