<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${university.name}">Университет</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/faculties}">Факультеты</a></li>
            <li><a th:href="@{/admission}">Абитуриентам</a></li>
            <li><a th:href="@{/contact}">Контакты</a></li>
            <li th:if="${isAuthenticated}"><a th:href="@{/my_applications}">Мои заявки</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/login}">Войти</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/register}">Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 th:text="${university.name}"></h1>
    <p><strong>Описание:</strong> <span th:text="${university.description}"></span></p>
    <p><strong>Город:</strong> <span th:text="${university.city}"></span></p>
    <p><strong>Страна:</strong> <span th:text="${university.country}"></span></p>
    <h2>Программы</h2>
    <ul>
        <li th:each="p : ${programs}">
            <a th:href="@{/programs/{id}(id=${p.id})}" th:text="${p.specialization.name}"></a>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; 2024 ВУЗ. Все права защищены.</p>
</footer>
</body>
</html>
