<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Университеты</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/faculties}">Факультеты</a></li>
            <li><a th:href="@{/admission}">Абитуриентам</a></li>
            <li><a th:href="@{/contact}">Контакты</a></li>
            <li th:if="${isAuthenticated}"><a th:href="@{/my_applications}">Мои заявки</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/login}">Войти</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/register}">Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Список университетов</h1>
    <ul>
        <li th:each="uni : ${universities}">
            <a th:href="@{/universities/{id}(id=${uni.id})}" th:text="${uni.name}"></a>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; 2024 ВУЗ. Все права защищены.</p>
</footer>
</body>
</html>
